
@font-face { 
  font-family: Amuro; font-weight: italic; src: url('../fonts/Amuro-Italic.otf'); 
}
@font-face { 
  font-family: Amuro-Condensed; font-weight: normal; src: url('../fonts/Amuro-Condensed.otf'); 
}

body {
	padding-top: 50px;
  background-color: #222222;;
}

.navbar-brand {
    height: auto;
    font-family: Amuro;
    font-weight: italic;
    font-size: 28px;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav {
    padding: 10px 5px;
}

/*
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover
.navbar .nav > .active > a:focus { 

    background: none;
    color:#FC4444;
    
}
*/

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus {

    background: none;
    color:#FC4444;
}

/* Color change when hovering over active */
.navbar-inverse .navbar-nav>.active>a:hover {
    background: none;
    color:#FD9B9B;

}


.navbar .nav a, .navbar-brand {

   -webkit-transition: color 0.6s ease-in;
   -moz-transition: color 0.6s ease-in;
   -o-transition: color 0.6s ease-in;
   -ms-transition: color 0.6s ease-in;
   transition: color 0.6s ease-in;
}


.navbar .nav > li {
    font-family: Amuro-Condensed;
    font-size: 24px;
}



.navbar-toggle {
    margin-top: 15px;
}

/*
.separator, .carousel-separator{
    background-color:#FC4444;
}
*/

.separator {
    height: 30px;
    background-color:#FC4444;
}

.carousel-separator {
    margin-top:10px;
    height: 15px;
    background-color:#E8E8E8;
}


.carousel-caption {
    background: rgba(0,0,0,0.25);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

/*
.gallery {
  background: #333;
  !height: 100%;
  height: 450px;
}


.gallery-cell {
  height: 100%;
  width: 35%;
  margin-right: 10px;
  background: #333;

  position: relative;
}

.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
*/

.gallery {
  margin-top: 9px;
  background-color: transparent;
  height:450px;
}


.gallery-cell {
  height: 100%;
  background-color: transparent;
}

.gallery-cell img {
  height: 100%;
}


.news-row {

  margin-top: 100px;

}

.thumbnail {

  background-color:#E8E8E8;

}

.thumbnail .caption {
  padding-right: 40px;
}

.news-item-pic {
  padding-top:10px;
}

.button-danger {

  background-color: #FC4444;
  color: #E8E8E8;

}











/*

  Media Queries

*/

/* Breakpiont at 800px to collapse navbar */
@media (max-width: 800px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}