
@font-face { 
  font-family: Amuro; font-weight: italic; src: url('../fonts/Amuro-Italic.otf'); 
}
@font-face { 
  font-family: Amuro-Condensed; font-weight: normal; src: url('../fonts/Amuro-Condensed.otf'); 
}

body {
	padding-top: 50px;
  background-color: #222222;;
}

.navbar-brand {
    height: auto;
    font-family: Amuro;
    font-size: 28px;
}

.navbar-brand img {
    height: 40px;
}


.navbar-nav {
    padding: 10px 5px;
}

/*
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover
.navbar .nav > .active > a:focus { 

    background: none;
    color:#FC4444;
    
}
*/

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus {

    background: none;
    color:#FC4444;
}

/* Color change when hovering over active */
.navbar-inverse .navbar-nav>.active>a:hover {
    background: none;
    color:#FD9B9B;

}


.navbar .nav a, .navbar-brand {

   -webkit-transition: color 0.6s ease-in;
   -moz-transition: color 0.6s ease-in;
   -o-transition: color 0.6s ease-in;
   -ms-transition: color 0.6s ease-in;
   transition: color 0.6s ease-in;
}


.navbar .nav > li {
    font-family: Amuro-Condensed;
    font-size: 24px;
}



.navbar-toggle {
    margin-top: 15px;
}

.nav-separator {
    height: 5px;
    background-color:#FC4444;
}

.carousel-separator {
    margin-top:10px;
    height: 15px;
    background-color:#E8E8E8;
}


.carousel-caption {
    background: rgba(0,0,0,0.25);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

/*
.gallery {
  background: #333;
  !height: 100%;
  height: 450px;
}


.gallery-cell {
  height: 100%;
  width: 35%;
  margin-right: 10px;
  background: #333;

  position: relative;
}

.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
*/

.gallery {
  margin-top: 35px;
  background-color: transparent;
  height:450px;
}


.gallery-cell {
  height: 100%;
  background-color: transparent;
}

.gallery-cell img {
  height: 100%;
}


/*
.news-row {

  margin-top: 100px;

}

.grid {

  margin-top: 100px;

}

.grid-item { 
  width: 540px; 
}
*/
*, *:before, *:after {box-sizing:  border-box !important;}


.news-row {
 -moz-column-width: 300px;
 -webkit-column-width: 300px;
 -moz-column-gap: 10px;
 -webkit-column-gap:10px; 
 margin-right: 10px;
 margin-left: 10px;
 margin-top: 10px;
  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.thumbnail {

  background-color:#E8E8E8;

}

.thumbnail .caption {
  padding-right: 40px;
}

.news-item-pic {
  padding-top:10px;
}

.btn-danger {

  background-color: #FC4444;
  color: #E8E8E8;
  font-weight:bold;

}

.content {
  margin-top: 40px;
}

.panel {
  margin-top: 40px;

  /* prevents from selecting text */
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.panel-heading:hover {
  cursor: pointer;
  background-color: #a6a6a6;
}


.panel-default > .panel-heading {
  background-color: #E8E8E8;
}

.panel-body {
  padding:0px;
}

.color-ef {
  background-color: #006666;
  color: white;
}

.color-zeon {
  background-color: #A40F2D;
  color: white;
}

.color-cb {
  background-color: #FDDE24;
  color: #222;
}

.color-union {
  background-color: #97BDE1;
  color: #222;
}

.panel-title {
  font-weight: bold;
  font-size: 18px;
}

.img-responsive { 
  width:auto;
  max-height: 100px;
}

.table {
  margin-bottom: 0px;
}


td {
  text-align: center;
  font-weight: bold;
}

td img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.header {
  font-size: 35px;
  color: #E8E8E8;
}

.left-side-panel {
    position: fixed;
    left: 8%;
    top: 0%;
    transform: translateX(-50%);
}

.right-side-panel {
    position: fixed;
    right: 8%;
    top: 0%;
    transform: translateX(50%);
}












/*

  Media Queries

*/

/* Breakpiont at 800px to collapse navbar */
@media (max-width: 800px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

